<h1>Bookings#Property</h1>
<p>Find me in app/views/bookings/Property.html.erb</p>

<% @bookings.each do |booking| %>
<% hostel_name = booking.hostel_id %>
<% hostel_name.name %>
  <h3><%= booking.hostel_id.name%><%= booking.nights %> <%= link_to "Delete this", method: :delete  %></h3>
<% end %>
