<%= @user.email %>

<% if current_user.hostel_owner == true %>
  <div>
    <%= current_user.hostels.each do %>
    <% end %>
  </div>
<% else %>

<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
