.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  display: inline-block;
  margin: 20px;
}

.header {
  text-align: center;
}

.containery {
  // margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Stylish', sans-serif;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Stylish', sans-serif;

}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-align: center;
  margin-left: 35px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos h2 {
  padding: 10px;
}

#map-container {
    height: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

