<h1 class="header">Hostels</h1>

<button type="button" class="btn btn-light"><%= link_to "Create", new_hostel_path %></button>

<div class="containery">
  <% @hostels.each do |hostel| %>
    <div class="card-trip">
      <img src="https://images.pexels.com/photos/2277653/pexels-photo-2277653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <div class="card-trip-infos">
        <div>
            <h2><%= hostel.name %></h2>
            <button type="button" class="btn btn-light"><%= link_to "Show more", hostel_path(hostel) %></button>
          <p><%= hostel.address %></p>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>

