<h1>Hostels</h1>
<p>Find me in app/views/hostels/index.html.erb</p>

<div class="container" >
  <% @hostels.each do |hostel| %>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <div class="card-trip-infos">
        <div>
            <h2><%= hostel.name %></h2>
            <h4><%= link_to "Delete this", hostel_path(hostel), method: :delete  %></h4>
          <p>Short description here!</p>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>

